{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}
  {% if header_footer %}
    {{ header_footer.header }}{% if page %} - {{ page.name }}{% endif %}
  {% else %}
    CMS
  {% endif %}
{% endblock title %}

{% block heading %}
  {% if header_footer %}
    {{ header_footer.header }}
  {% else %}
    CMS
  {% endif %}
{% endblock heading %}

{% block sub_heading %}
  {% if page %}
    {{ page.name }}
  {% else %}
    CMS
  {% endif %}
{% endblock sub_heading %}

{% block sub_title %}
{% endblock sub_title %}

{% block menu %}
  {% if page.is_home %}
    {% include 'cms/_design_menu.html' %}
  {% endif %}
  {% include 'cms/_menu_list.html' %}
  {% if user.is_authenticated %}
    <li class="pure-menu-item{% if path == '/dash/' %} pure-menu-selected{% endif %}">
      <a href="{% url 'project.dash' %}" class="pure-menu-link">
        <i class="fa fa-dashboard"></i>
        Dashboard
      </a>
    </li>
  {% endif %}
  {% if user.is_staff %}
    <li class="pure-menu-item{% if 'settings' in path %} pure-menu-selected{% endif %}">
      <a href="{% url 'project.settings' %}" class="pure-menu-link">
        <i class="fa fa-cog"></i>
        Settings
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock menu %}

{% block footer %}
  <div class="legal pure-g">
    <div class="pure-u-1 pure-u-md-2-5">
      <div class="l-box">
        {% if header_footer.url_linkedin %}
          <a href="{{ header_footer.url_linkedin }}" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
        {% endif %}
        {% if header_footer.url_twitter %}
          <a href="{{ header_footer.url_twitter }}" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        {% endif %}
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-5">
      <div class="l-box legal-logo">
        <a href="http://yuilibrary.com/" target="_blank">
          <img height="30" width="65" alt="YUI logo" src="{% static "img/project/yui.png" %}">
        </a>
        <p class="legal-license">
          This site is built using
          <a href="http://purecss.io/" target="_blank">
            Yahoo Pure CSS
          </a>
        </p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-2-5">
      <div class="l-box">
        <ul class="legal-links pure-g">
          <li class="pure-u-1">
            For help and support, please contact
            <a href="mailto:patrick@kbsoftware.co.uk" target="_blank">
              KB Software Ltd
            </a>
          </li>
          <li class="pure-u-1">
            <strong>Mobile: </strong>
            07840 538 357
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock footer %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'cms/css/cms.css' %}">
{% endblock stylesheets %}
